* {
     /* border: 1px solid #000000; */
}

#sidebar {
    position:absolute;
    top:0;bottom:0px;right:0px;width:72px;
    overflow: hidden;
}
#sidebar .panel{
    z-index:5;
    background:#f2f2f2;
    position:absolute;
    top:0;bottom:0;right:0;
}
#sidebar .panel .button {
    display:block;width:72px;height:72px;
    background-size: 80%;
    background-repeat:no-repeat;
    background-position: center;
    background-color: #9cc2ce;
}
#sidebar .panel .button#coordinates {
    background-image:url(../images/map30.svg);
}
#sidebar .panel .button#distance {
    background-image:url(../images/distance1.svg);
}
#sidebar .panel .button#tiles {
    background-image:url(../images/multimedia-option231.svg);
}
#sidebar .panel .button#borders {
    background-image:url(../images/geography33.svg);
}

#sidebar #info {
    display:block;
    position:absolute;
    z-index:4;
    background:#f2f2f2;
    top:0;bottom:0px;left:0px;width:320px;
}

/* Coordinates info page */

.scrollable {
    height: 100%; width: 100%;
    position: absolute;
    overflow-y: auto;
}

.coordinates {
    padding:0; margin:0;
}

.coordinate {
    font-family:FreeSans,'DejaVu Sans','Liberation Sans',Arial,sans-serif;
    font-size: 16px;
}

.coordinates li.coordinate {
    list-style-type: none;
    border: 1px solid #ffffff;
}

.coordinate p {
    margin: 0px 8px 12px 8px;
}

.coordinate p input {
    outline: none;
    border: none;
    background-color: #f2f2f2;
    width: 100%;
}

.coordinate p.distance {
    font-size: 14px;
}

.coordinate .button {
    display:block;width:16px;height:16px;
    background-size: 100%;
    background-repeat:no-repeat;
    background-position: center;
    margin-left: 12px;
    float: left;
}

.coordinate .button:hover {
  -webkit-filter: drop-shadow(0px 0px 4px #9cc2ce);
  filter: drop-shadow(0px 0px 4px #9cc2ce);
}

.coordinate .button#remove {
    background-image:url(../images/cancel22.svg);
}

.coordinate .button#panTo {
    background-image:url(../images/location54.svg);
}

div.distance-label {
  white-space:nowrap;
  text-shadow: 0 0 0.1em black, 0 0 0.1em black,
  0 0 0.1em black,0 0 0.1em black,0 0 0.1em;
}
text.distance-label {
    font-family:FreeSans,'DejaVu Sans','Liberation Sans',Arial,sans-serif;
    font-size: 16px;
    fill: yellow
}

/* Tile IDs info page */

#tiles_page {
    font-family:FreeSans,'DejaVu Sans','Liberation Sans',Arial,sans-serif;
    font-size: 16px;
}

#tileids {
    margin-left: 10px; margin-top: 10px;
}

#tileids tr td {
    text-align: center;
    padding: 2px 16px 2px 16px;
}

#tileids tbody tr.selected {
    background-color: #9cc2ce;
}

/* Borders info page */
.borders {
    font-family:FreeSans,'DejaVu Sans','Liberation Sans',Arial,sans-serif;
    font-size: 18px;
}

.borders select {
    width: 320px;
}

.borders p {
    margin: 10px 0px 0px 0px;
    padding: 0;
}

.borders .button {
    display:block;width:16px;height:16px;
    background-size: 100%;
    background-repeat:no-repeat;
    background-position: center;
    margin-left: 12px;
    float: left;
}

.borders .button:hover {
  -webkit-filter: drop-shadow(0px 0px 4px #9cc2ce);
  filter: drop-shadow(0px 0px 4px #9cc2ce);
}

.borders div .button#reload {
    background-image:url(../images/update18.svg);
}

.borders div .button#fitBounds {
    background-image:url(../images/square226.svg);
}
