* {
    /* border: 1px solid #000000; */
}

body {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    width: 100%;
}
#map {
    height: 100%;
    width: 100%;
}

.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
  width: 260px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.text-labels {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    width: 200px;
    pointer-events: none;
    /* Use color, background, set margins for offset, etc */
}

div#info_row {
	  font: 14px/16px Arial, Helvetica, sans-serif;
    position: absolute;
    left: 60px;
    top: 10px;
    /* width: 50%; */
    /* height: 0px; */
    background: rgba(256,256,256,1);
    /* border: 1px solid red; */
	  box-shadow: 0 0 15px rgba(0,0,0,0.2);
	  border-radius: 5px;
    padding: 4px;
}

input#tile_id_input {
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
}

span#zoom_level {
    margin-left: .5em;
}

.tile {
    stroke: blue;
    pointer-events: none;
}

.tileid-labels {
    color: #33f;
    font-weight: bold;
    font-size: larger;
}

.marker-icon {
    background-image:url(../images/pin56.svg);
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
}
